:root {
  --primary-color: #fcd1d1;
  --secondary-color: #fff5ee;
  --detail-color: #868e99;
}

body {
  background-color: var(--secondary-color);
  font-family: "Quicksand", "sans-serif";
}

.weatherAppWrapper {
  max-width: 550px;
  margin: 30px auto;
}

.weatherApp {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  border: 1px solid var(--detail-color);
  padding: 20px;
}

.popularCities,
.predictionCard,
.dailyForecastCard,
.predictionHeader,
.dailyForecastHeader {
  display: flex;
  justify-content: space-evenly;
}

footer,
.popularCities {
  color: var(--detail-color);
  font-size: 20px;
}

#sydney,
#tokyo,
#london {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #e3eeff;
  border-radius: 10px;
  color: var(--detail-color);
  text-transform: uppercase;
}

#sydney:hover,
#tokyo:hover,
#london:hover,
#current-location,
.goButton {
  background: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  box-shadow: rgba(37, 39, 89, 0.05) 0px 8px 8px 0;
  color: var(--secondary-color);
}

#search-bar {
  background: var(--secondary-color);
  border: 1px solid var(--detail-color);
  border-radius: 10px;
  box-shadow: rgba(37, 39, 89, 0.05) 0px 8px 8px 0;
  color: var(--primary-color);
  width: 75%;
}

::placeholder {
  color: var(--primary-color);
}
.weatherConditons,
#search-form,
.dailyForecastContainer {
  display: flex;
  justify-content: space-between;
}

.goButton,
#searchBar,
#current-location {
  font-size: 18px;
  padding: 3px 5px;
}

.goButton:hover,
#current-location:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.curentCity,
.predictionCard,
.dailyForecastCard {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  box-shadow: rgba(37, 39, 89, 0.1) 0px 8px 8px 0;
  max-width: 500px;
}

h1 {
  color: var(--detail-color);
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
}

.currentDate,
#description {
  color: var(--detail-color);
  font-size: 30px;
  font-weight: 100;
  line-height: 40px;
}

.mainIcon {
  font-size: 80px;
  text-align: center;
}

#temperature {
  color: var(--detail-color);
  font-size: 60px;
  font-weight: 400;
}

.units {
  color: var(--detail-color);
  position: relative;
  font-size: 20px;
  top: -32px;
}

li {
  display: inline;
  list-style: none;
  line-height: 10px;
}

.weatherConditon {
  color: var(--detail-color);
  font-size: 24px;
  font-weight: 400;
}

.subIcon {
  font-size: 30px;
  color: #e3eeff;
}

h4,
.forecastIcon,
.forecastTemp,
.dailyForecastIcon,
.dailyForecastTemp {
  color: var(--detail-color);
  font-size: 16px;
  max-width: 50px;
  text-align: center;
}

.dailyForecastIcon,
.dailyForecastTemp {
  display: flex;
  justify-content: space-between;
}

#forecast,
#dailyForecast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.predictionHeader,
.dailyForecastHeader {
  background: var(--primary-color);
  border: var(--primary-color);
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
}

footer {
  margin-top: -20px;
}

a {
  color: var(--detail-color);
}

.linkedin:hover {
  color: #0966c2;
}

.instagram:hover {
  color: #ed4a62;
}
.gitHub:hover {
  color: #24292e;
}
